<h2>Confirmación de reserva ReservAndo</h2>

<p>
  Gracias, <strong>{{nombreUsuario}}</strong>
</p>

<p>
  Tu reserva en <strong>{{localidad}}</strong> ha sido confirmada.
</p>

<p>
  El alojamiento <strong>{{nombreAlojamiento}}</strong> te espera el <strong>{{fechaEntrada}}</strong>.
</p>

<p>
  Información para viajar:
</p>

<p>
  <strong>{{direccion}}</strong>
</p>
